doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Prototype
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  body
    h1 Hello, World
    script(src='/vendor/jquery/dist/jquery.js')
